.Rproj.user
.Rhistory
.RData
.Ruserdata
/databases/ezbiocloud
/databases/SILVA
/data/ngs/raw_reads
/data/ngs/fastqc/
/data/ngs/filtered/
/results/ngs/phe/taxa_files/blast_results.tsv
/results/ngs/nap/taxa_files/blast_results.tsv
/results/ngs/none/taxa_files/blast_results.tsv